.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.right-side {
//  border: 1px solid red;
}
.register-content {
  height: 100vh;
}

.register-form {
  text-align: center;
  padding-top: 110px;

  h3{
    font: {
      size: 35px;
      weight: 700
    };
  }

  p{
    margin: {
    top: 8px;
    bottom: 0;
    };
    a{
      display: inline-block;
    }
  }
  form{
    margin-top: 40px;
    .form-group {
      margin-bottom: 1rem;
    }
    .form-control {
      border: none;
      box-shadow: 0px 5px 28.5px 1.5px rgba(140, 152, 200, 0.2)!important;
      height: 40px;
      &:focus{
        &::placeholder{
          color: transparent;
        }
      }
    }
    &:focus{
      &::placeholder{
        color: transparent;
      }
    }

    .connect-with-social{
      span {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      button {
        display: block;
        width: 100%;
        border: 1px solid darkblue;
        background-color: transparent;
        padding: 12px 25px;
        border-radius: 2px;
        color: darkblue;
        font-weight: 500;
        position: relative;
        i {
          position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);
        }
        &.facebook {
          border-color: #6EACDA;
          color: #6EACDA;
          box-shadow: 0px 5px 28.5px 1.5px rgba(255, 97, 47, 0.2) !important;
          &:hover {
            background-color: #6EACDA;
            color: white;
            border-color: #6EACDA;
          }
        }
        &.twitter {
          margin-top: 10px;
          border-color: mediumturquoise;
          color: mediumturquoise;
          box-shadow: 0px 5px 28.5px 1.5px rgba(255, 97, 47, 0.2) !important;
          &:hover {
            background-color: mediumturquoise;
            color: white;
            border-color: mediumturquoise;
          }
        }
        &.google {
          margin-top: 10px;
          border-color: green;
          color: green;
          box-shadow: 0px 5px 28.5px 1.5px rgba(255, 97, 47, 0.2) !important;
          &:hover {
            background-color: green;
            color: white;
            border-color: green;
          }
        }
      }

    }

  }
}
.btn-disabled{
  background-color: #6EACDA;
  color: white;
  cursor: not-allowed !important;
}
